.navbar img {
    height: 90px;
}
.navbar-items li a{
    display: flex;
    float: right;
    padding: 10px;
    /* margin-top: -05px; */
    /* position: fixed; */
}
.navbar-items :hover{
font-style: oblique;
color: rgb(255, 0, 38);
animation: forwards;
}
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
.banner img {
    width: 100%;
    height: auto;
}
.left iframe {
    padding: 10px 10px;
    width: 100%;
    height: 470px;
}