.navbar img {
    height: 90px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbarSupportedContent{
    margin-left: 59%;
    /* display: flex;
    justify-content: space-between; */
}
.banner img{
    width: 100%;
    height: auto;

}
.HEADER{
    text-align: center;
    background: #6ab4ec;
    color: rgb(32, 39, 240);
    height: 50px;
}
.HEADER :hover{
    font-style: italic;
}

.images1 img{
    transition: all .3s ease-in-out;
    width: 95%;
    height: 50vw;
}

.images1 img:hover{
transform: scale(1.1);
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.images2 img{
    transition: all .3s ease-in-out;
    width: 95%;
    height: 50vw;
}

.images2 img:hover{
transform: scale(1.1);
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.images3 img{
    transition: all .3s ease-in-out;
    width: 95%;
    height: 50vw;}

.images3 img:hover{
transform: scale(1.1);
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.images4 img{
    transition: all .3s ease-in-out;
    width: 95%;
    height: 50vw;}

.images4 img:hover{
transform: scale(1.1);
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
@media (max-width: 991px) and (min-width:768px){

}
@media (max-width: 768px) and (min-width:320px){
    /* .container1 img{
        width : 315px !important
    }
    .container1 .image-2{
        width: 315px !important;
    }
    .container .img1{
        width: 315px !important;
    } */
}
@media (max-width: 1280px) and (min-width:1025px){

}
